<div class="container">
    <div class="jumbotron">
        <h1>The Washington Post Scraper</h1>
        <p>
            <a class="btn btn-primary btn-lg" id="scrapeBtn" href="#" role="button">Scrape!</a>
        </p>
    </div>
</div>